@(reader: Reader)

<!DOCTYPE html>

<html>
    <head>
        <title>@reader.getName's Profile</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
    </head>
    <body>
        <Table>
            <TR>
                <TD><img src="@reader.getPicUrl"></TD>
                <td><H1>@reader.getName</H1></td>
            </TR>
        </Table>
        <Table>
            <TR>
                @reader.getBooks.map { book =>
                    <TD align="center"><img src="@book.getPicUrl" width="200" height="300"><BR>
                        @book.getName
                    </TD>
                }
            </TR>
        </Table>
    </body>
</html>
